<ion-header>
  <ion-navbar transparent class="vermelho">
    <ion-title><span>Home</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-card-content *ngIf="model.dia" class="preto">
        <div class="title" text-center>
            Agendamento
        </div>
      </ion-card-content>

    <ion-card *ngIf="model.dia">      
        <ion-list>
          <button ion-item style="font-size: 20px">
            <ion-icon name="clock" item-start></ion-icon>
            {{ model.dia | date: 'dd/MM/yyyy' }} {{ model.hora }}
          </button>
      
          <button ion-item style="font-size: 20px">
            <ion-icon name="compass" item-start></ion-icon>
            {{ model.onde }}
          </button>      
        </ion-list>
      </ion-card>

  <!--ion-card *ngIf="model.dia" color="roxo">
    <ion-card-content style="background-color: #424242;text-align: center; font-size: 30px">
      <ion-card-header>
        Agendamento
      </ion-card-header>
      <ion-card-body>
        Você possui um agendamento para
      </ion-card-body>
    </ion-card-content>

  </ion-card-->

  <ion-card-content class="preto">
      <div class="title" text-center>
        Senhas chamadas
      </div>
  </ion-card-content>

  <ion-card>
    <ion-card-content style="font-size: 30px; background-color: #9C9C9C">
      <ion-row>
        <ion-col col-4 style="text-align: center;">Senha</ion-col>
        <ion-col style="text-align: center;">| </ion-col>
        <ion-col style="text-align: center;">Guiche</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card-content style="font-size: 30px">
    <ion-row>
      <ion-col col-4 style="text-align: center;">1</ion-col>
      <ion-col style="text-align: center;">| </ion-col>
      <ion-col style="text-align: center;">01</ion-col>
    </ion-row>
  </ion-card-content>


  <ion-card-content style="font-size: 30px">
    <ion-row>
      <ion-col col-4 style="text-align: center;">5</ion-col>
      <ion-col style="text-align: center;">| </ion-col>
      <ion-col style="text-align: center;">02</ion-col>
    </ion-row>
  </ion-card-content>

  <ion-card-content style="font-size: 30px">
    <ion-row>
      <ion-col col-4 style="text-align: center;">A69</ion-col>
      <ion-col style="text-align: center;">| </ion-col>
      <ion-col style="text-align: center;">03</ion-col>
    </ion-row>
  </ion-card-content>




  <ion-card-content>
    <button [disabled]="model.dia" ion-button block large (click)="showAlert();openGerar()" color="danger" round outline>Gerar Senha
    </button>
  </ion-card-content>


</ion-content>